@import 'index.scss';

.container {
    width: 100vw;
    min-width: 375px;
    max-width: 540px;
    padding: 3rem 1.5rem;
}

.bg-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 100%;
    max-width: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

.title {
    color: $clr-white;
    font-size: 1.688rem;
    letter-spacing: .594rem;
    text-transform: uppercase;
}

.theme-btn {
    cursor: pointer;
}

.theme-icon {
    width: 20px;
    height: 20px;
}

// Todo
.todo-form,
.todo-list {
    border-radius: 5px;
    overflow: hidden;
}

.todo-form {
    margin-bottom: 1rem;
}

.todo {
    background-color: $clr-todo-bg-lm;
    padding: .875rem 1.25rem;
    display: flex;
    align-items: center;

    &__placeholder,
    &__label {
        color: $clr-todo-text-lm;
        font-size: .75rem;
        margin-left: 1rem;
    }

    &__label {
        cursor: pointer;
    }

    &__close-icon {
        width: 12px;
        margin-left: auto;
        cursor: pointer;
    }
}

.checkbox {
    cursor: pointer;

    &__unchecked,
    &__checked {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        overflow: hidden;
    }

    &__unchecked {
        display: grid;
        place-items: center;
        border: 1px solid #E3E4F1;
        border-radius: 50%;
        overflow: hidden;
    }

    &__checked {
        display: grid;
        place-items: center;
        background: $clr-gradient;
    }

    &__checked-icon {
        width: 7.25px;
    }

}

.hide {
    display: none;
}